<!-- HTML 5 Ad Template from DoubleClick by KoodooGroup -->
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Document Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <div id="bg-exit"></div>
        <!-- Start Your Ad -->
        
    </div>
    <!-- Studio Enabler Required -->
    <script type="text/javascript" src="http://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script src="app.js"></script>
</body>
</html>