@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}
img {
  display: block;
}
ul,ol,li {list-style: none;}
body {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* main container */
#container {
  visibility: hidden;
  position: absolute;
  width: 300px;
  height: 250px;
  border: 1px solid #000;
  overflow: hidden;
}
#bg-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  /*z-index: 400;*/
}

/* edit style below */




