<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- Studio Enabler Required -->
  <script src="//s0.2mdn.net/ads/studio/Enabler.js" type="text/javascript"></script>
  <%= tweenLiteOption ? '<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>' : '' %>
  <script type="text/javascript">
function setPixelOffset() {
  Enabler.setExpandingPixelOffsets(0, 0, <%=expandingWidth%>, <%=expandingHeight%>, false, false);
  Enabler.setHint('expansionMode', 'lightbox');
}
  </script>
  
  <!-- build:js app.js-->
  <script src="app.js" type="text/javascript"></script>
  <!-- endbuild-->

  <!-- build:css style.css-->
  <link rel="stylesheet" href="sprites.css">
  <link rel="stylesheet" href="style.css">
  <!-- endbuild-->
  
</head>
<body>
<div class="main_panel">
  <!-- Collapsed Conent -->
  <div class="collapsed_panel">
    <button class="expand_button"></button>
    <!-- Start Your Ad for Collapse -->

  </div>

  <!-- Expand Content -->
  <div class="expanded_panel">
    <button class="expanded_background_exit"></button>
    <!-- Start Your Ad for Expand -->

  </div>
</div>
</body>
</html>