@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}
img {
  display: block;
}
ul,ol,li {list-style: none;}
body {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* main container */
#main-panel {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: <%=expandingWidth%>px;
  height: <%=expandingHeight%>px;
}

#collapsed-panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: <%=unitWidth-2%>px;
  height: <%=unitHeight-2%>px;
  z-index: 100;
  border: 1px solid #000;
  overflow: hidden;
}

#expanded-panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: <%=expandingWidth-2%>px;
  height: <%=expandingHeight-2%>px;
  z-index: 200;
  display: none;
  border: 1px solid #000;
  overflow: hidden;
}

#expand-button {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
}
#expanded-background-exit {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
}

/* edit style below */




