<!-- HTML 5 Ad Template from DoubleClick by KoodooGroup -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Document Title</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="main-panel">
            <!-- Collapsed Conent -->
            <div id="collapsed-panel">
                <div id="expand-button">
                </div>
                <!-- Start Your Ad for Collapse -->

            </div>
            <!-- Expand Content -->
            <div id="expanded-panel">
                <div id="collapse-button">
                </div>
                <div id="expanded-background-exit">
                </div>
                <!-- Start Your Ad for Expand -->

            </div>
        </div>
        <!-- Studio Enabler Required -->
        <script src="http://s0.2mdn.net/ads/studio/Enabler.js" type="text/javascript"></script>
        <script type="text/javascript" src="app.js"> </script>
    </body>
</html>